.teaIconBox {
    position: absolute;
    width: 60%;
    height: 70%;
    background: rgba(000, 000, 000, 0.5);
    margin-top: 1.5%;
    margin-left: 20%;
    border-radius: 10px;
  }
  
  .sturesTopic{
    color: white;
    margin-top: 3%;
    font-size: xx-large;
  }
  
  #teaProf,
  #teaLog {
    width: 5%;
    position: absolute;
  }
  
  #teaProf {
    margin-top: 0.7%;
    margin-left: 86%;
  }
  
  #teaLog {
    margin-top: 0.7%;
    margin-left: 93%;
  }
  
#enter_form{
    background: rgba(222,222, 222, 0.2);
    width: 80%;
    height: 60%;
    margin-left: 10%;
}
#drop_box{
    position: absolute;
    margin-left: 30%;
    margin-top: 8%;
}
#enter_box{
    position: absolute;
    margin-left: 30%;
    margin-top: 15%;
}
#lbl{
    margin-left: 75%;
    font-weight: bolder;

}
#menu{
    width: 240%;
    margin-top: 10%;
}
  
#butt{
    position: absolute;
    margin-left: 37%;
    margin-top: 20%;
}
  
  